body h2 {color: #5b4048;}
body h3, h4, p {font-family: 'Roboto', sans-serif;color: #5b4048;}

/*.logo {padding-left: 7rem !important;}*/

.menu .navbar-collapse {padding-right: 6rem !important;}

.menu .navbar-collapse a {padding-right: 3rem !important;}

/*banner*/
.mt-7 {height: 15rem; position: relative; margin-top: 6.5rem; background-image: url(../images/bg_1.png); background-repeat: no-repeat; background-position: left;}

.mt-7 img {position: absolute; right: 0px;}

.banner_content {padding-top: 17rem; position: absolute;top: 0;right: 0;z-index: 1;bottom: 0;left: 0;height: 15rem;}

.banner_content h2 {font-family: 'Marck Script', cursive; font-size: 2.5rem;}

.banner_content p {font-size: 1.3rem; font-weight: lighter; padding-top: 15px;}

.line {padding-top: 30px;}

.line hr {width: 80%; border-top: 1px solid #f4dada; padding-top: 2rem;}

.sk h3 {padding-top: 3rem; padding-bottom: 4rem;}

.sk p {padding-top: 2rem;}

.software {padding-top: 6rem; padding-bottom: 8rem;}

.software ul li { padding-right: 2rem; }

/*footer*/
footer h3 {font-size: 1.4rem !important;}

footer hr {width: 60%; border-top: 1px solid #f4dada;}

footer ul li {padding: 0px 30px 30px 30px;}

/*work*/
.card {border: 0 !important;}

.sec_row {padding-top: 3rem; padding-bottom: 10rem;}

.example {height: 250px; background-image: url(../images/bg_2.png), url(../images/bg_1.png); background-position: right center, left center;background-repeat: no-repeat;}

